:root {
    /* Place to make some custom variables */
    --c-primary: rgb(54, 54, 94);
    --c-secondary: rgb(187, 222, 255);
  }
  
  /* Set the background color */
body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 0 100px 0; /* Bottom padding for footer */
    line-height: 1.2;
    font-size: 16px;
}
  
  /* Only used for "Indexal" at top */
h1 {
    font-size: 6rem;
}

/* Used for "About Me", "Work", etc */
h2 {
    font-size: 4rem;
    color: var(--c-primary);
}

  /* Page breaker element */
.page-breaker {
    background-color: var(--c-primary);
    height: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
  
header {
    text-align: center;
    background-color: var(--c-primary);
    color: var(--c-primary);
}

header h1 {
    background: var(--c-secondary);
    margin: 0px;
    padding: 0px;
}

nav {
    font-size: 2rem;
    padding: 12px;
    margin-bottom: 0px;
}

nav a {
    color: var(--c-secondary);
    text-decoration: underline solid var(--c-secondary) 5px;
    text-decoration-skip-ink: none;
    padding: 14px;
    text-align: center;
}
  
/* Main banner image */
main {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
    background-image: url("/assets/images/blue-bg.jpg");
    background-size: cover;
    background-position: center;
}

main h3 { /* "Cool subtitle here!" caption box */
    color: var(--c-primary);
    background-color: var(--c-secondary);
    font-size: 1.8rem;
    font-weight: bolder;
    position: absolute;
    right: 50px;
    top: 380px;
    padding: 10px;
}

/* "About" Section */
.about {
    font-size: 16px;
    padding: 10px;
}

.about p {
    padding: 15px;
    margin: 2% 3%;
}

.about h2 { /* "About Me"*/
    margin-left: 5%;
    margin-bottom: 0;
}





/* "Work" Section */
.work .work-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    justify-content: center;
}

.work h2 {  /* "Work" */
    margin-left: 5%;
    margin-bottom: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    margin-top: 50px;
    margin-left: 9%;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: var(--c-secondary);
    position: relative;
    width: 80%;
  }
  
  .card header {
    background: var(--c-secondary);
    color: var(--c-primary);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }

  /* Card Headers/info */
  .card header {
    font-size: 4rem;
    font-weight: bolder;
    position: absolute;
    left: -2px;
    bottom: 150px;
    padding: 30px 50px 70px 50px;
  }

.card p {
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    left: 0px;
    bottom: 150px;
    margin: 0 0 25px 10px;
}


/* "Contact Me" Section */
footer h2 { /* "Contact Me" */
    text-align: left;
    margin-left: 5%;
    margin-bottom: 0;
}

footer .contact .footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
}

/* Remove bullet points from list items */
footer .contact .footer-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Add margin between list items */
footer .contact .footer-list li {
    margin-top: 40px;
}

footer .contact .footer-list a {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-decoration: underline solid var(--c-primary) 9px;
    text-underline-offset: 14px;
}