:root {
    /* Place to make some custom variables */
    --c-primary: rgb(54, 54, 94);
    --c-secondary: rgb(187, 222, 255);
  }
  
  /* Set the background color */
  body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 16px;
  }
  
  /* Only used for "Indexal" at top */
  h1 {
    font-size: 6rem;
  }

/* Used for "About Me", "Work", etc */
  h2 {
    font-size: 4rem;
    color: var(--c-primary);
  }

  /* Page breaker element */
.page-breaker {
    background-color: var(--c-primary);
    height: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
  
  header {
    text-align: center;
    background-color: var(--c-primary);
    color: var(--c-primary);
  }

  header h1 {
    background: var(--c-secondary);
    margin: 0px;
    padding: 0px;
  }
  
  nav {
    font-size: 2rem;
    padding: 12px;
    margin-bottom: 0px;
  }
  
  nav a {
    color: var(--c-secondary);
    text-decoration: underline solid var(--c-secondary) 5px;
    text-decoration-skip-ink: none;
    padding: 14px;
    text-align: center;
  }
  
/* Main banner image */
main {
    height: 300px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
    background-image: url("/assets/images/blue-bg.jpg");
    background-size: cover;
    background-position: center;
}

/* "Cool subtitle here!" caption box */
main h3 {
    color: var(--c-primary);
    background-color: var(--c-secondary);
    font-size: 1.8rem;
    font-weight: bolder;
    position: absolute;
    right: 50px;
    top: 380px;
    padding: 10px;
}

.about {
    font-size: 16px;
    padding: 10px;
}

.about p {
    padding: 15px;
    margin: 2% 3%;
}

/* "About Me" */
.about h2 {
    margin-left: 5%;
    margin-bottom: 0;
}

/* "Work" */
.work h2 {
    margin-left: 5%;
    margin-bottom: 0;
}

footer {
    width: 100%;
    text-align: center;
}

/* "Contact Me" */
footer h2 {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 0;
}

.contact-list {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.contact-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* Display items horizontally using flex*/
    display: flex;
}

.contact-list li {
    margin-right: 15px;
    color: var(--c-primary);
    font-size: 1.5rem;
}